body {
    text-align:center;
    background-color: white;
    border: solid 4px red;
    margin: 4px;
}

header {
    border: solid 2px black;
    background-color: lightblue;
    margin: 4px;
}

footer {
    border: solid 2px black;
    background-color: lightseagreen;
    margin: 4px;
    clear: both;
}

nav {
    border: solid 1px black;
    background-color: white;
    margin: 4px;
}

#navigationB {
    padding: 210px 0px;
}

section {
    border: solid 2px black;
    background-color: lightgoldenrodyellow;
    margin: 3px;
}

#sectionA {
    float: left;
    width: 32%;
}

#sectionB {
    float: right;
    width: 66%;
}

article {
    border: solid 1px;
    background-color: lightcyan;
    margin: 5px;
}

p {
    border: solid 1px black;
    background-color: lightgreen;
    margin: 5px;
}

#paragraphA {
    float: left;
    height: 220px;
    width: 48.5%;
}

aside {
    border: solid 1px black;
    background-color: white;
    margin: 5px;
}

#asideA {
    float: right;
    height: 220px;
    width: 48.5%;
}

#lastFooter {
    clear: both;
}

.textNav{
    position: relative;
    top: 48%;
}